body {
  margin: 0;
  padding: 0;
  background: #222;
  color: #e9e9e9;
}

main {
  display: block;
  padding: 20px;
  margin: 0 auto;
  max-width: 720px;
}

a {
  color: #e9e9e9;
}

h1 {
  color: #61dafb;
  margin-bottom: 0;
  font-weight: normal;
}

h1 + p {
  margin-top: 0;
}
